* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  background-color: whitesmoke;
}
header {
  width: 100vw;
  height: 5vh;
  background-color: crimson;
  display: flex;
  padding: 1vh;
  padding-left: 3vh;
  justify-content: left;
  align-items: center;
  box-shadow: 2px 2px 4px 0px silver;
}
h1 {
  font-size: 24px;
  color: #131515;
}
p {
  color: #131515;
}
main {
  height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
screen {
  height: 300px;
  width: 300px;
  background-color: #ebebeb;
  border-radius: 50%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out;
  transition-duration: 0.5s;
  border: 1px solid silver;
}
screen:hover {
  scale: 1.03;
  box-shadow: 2px 2px 4px 0px silver;
}
screen h2 {
  color: #131515;
  font-size: 35px;
}
buttonsBar button,
resetButton button {
  background-color: #2bb69a;
  font-size: 12px;
  font-weight: bold;
  width: 105px;
  height: 26px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: #131515;
  transition: ease-in-out;
  transition-duration: 0.3s;
}
buttonsBar button {
  color: whitesmoke;
}
buttonsBar button:hover {
  background-color: #39d0b2;
  scale: 1.05;
  color: #131515;
  box-shadow: 2px 2px 4px 0px silver;
}
resetButton {
  height: 20px;
}
resetButton button {
  background-color: #dc143c;
}
resetButton button:hover {
  color: whitesmoke;
  scale: 1.1;
  box-shadow: 2px 2px 4px 0px silver;
}
footer {
  width: 100vw;
  height: 5vh;
  background-color: crimson;
  display: flex;
  padding: 1vh;
  justify-content: center;
  align-items: center;
}
